.country__detailed__data,
.country__details,
.country__details-main,
.country__details-bottom {
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 90%;
    margin: 0 auto 1rem auto;
}

/* All buttons */

.btn {
    height: 2em;
    width: auto;
    border: none;
    border-radius: 3px;
    background-color: var(--elements-color);
    color: var(--text-color);
    box-shadow: 1px 1px 5px var(--shadow-color);
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.2);
}

.btn:active {
    transform: scale(1);
}

.back-btn {
    width: 8em;
    margin: 1em 0 4em;
}

.border-btn {
    padding: 0 1.5em;
}


/* country details */

.country__detailed__data {
    line-height: 2;
}

.country__flag {
    width: 100%;
    height: 15em;
    flex: 2;
}

.country__flag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* country details */
.country__details>* {
    margin: 0.75rem 0 0.75rem 0;
}

.country__details-top {
    margin-top: 3.5em;
}

.country__details-main div:first-child {
    margin-bottom: 1.5rem;
}

/* border countries */

.country__border-details {
    display: flex;
    flex-wrap: wrap;
}

.country__border-details>* {
    margin: 0 1em 1em 0;
}

/* text */
h2 {
    font-size: 1.4em;
}

.bold {
    font-weight: 600;
}

@media screen and (min-width: 700px) {
    .country__flag {
        width: 100%;
        height: 25em;
    }

    .country__details-main {
        flex-direction: row;
    }

    .country__details-main>* {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 850px) {
    .wrapper {
        height: calc(100vh - 10em);
        width: 97%;
    }

    .country__detailed__data {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .country__flag {
        width: 10em;
        height: 20em;
    }

    .country__details {
        margin-left: 2.5em;
        width: 50%;
    }

    .country__details-top,
    .country__details-main,
    .country__details-main div:first-child {
        margin: 0;
    }

    .country__details-top {
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 1400px) {

    .wrapper p,
    .wrapper span,
    .wrapper .btn {
        font-size: 1rem;
    }

    .wrapper h2 {
        font-size: 1.5rem
    }

    .country__details {
        flex-basis: 35%;
    }

    .country__details-main-right {
        flex-basis: 40%;
    }

    .country__details-main-left {
        flex-basis: 60%
    }

    .country__flag {
        flex-basis: 65%;
        height: 80%;
    }
}

@media screen and (min-width: 1800px) {

    .wrapper p,
    .wrapper span,
    .wrapper .btn {
        font-size: 1.2rem;
    }

    .wrapper h2 {
        font-size: 1.7rem
    }

    .wrapper {
        height: calc(100vh - 10em);
        width: 91%;
    }

    .country__details {
        width: 40%;
        margin-left: 5em;
    }

    .country__flag {
        width: 12em;
        height: 40em;
    }

}

@media screen and (min-width: 2400px) {
    .country__details {
        flex-basis: 40%;
    }

    .country__flag {
        height: 50em;
        flex-basis: 50%;
    }
}